# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS / keys
*.pem
*.key
*.pub
.aws/

# Docker
.docker/
docker-compose.override.yml

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
logs/

*helper.txt

# Terraform files 
terraform.tfvars
*.tfvars
*.tfstate
*.tfstate.*
.terraform/